!= Former::text("blockCopyAndImage[{$id}][headline]", 'Headline')
!= Former::wysiwyg("blockCopyAndImage[{$id}][subhead]", 'Subhead')
!= Former::wysiwyg("blockCopyAndImage[{$id}][copy]", 'Copy')
!= Former::radiolist("blockCopyAndImage[{$id}][layout]", 'Layout')->from(App\BlockCopyAndImage::$layouts)->help('The side that the image will appear on.')
!= Former::radiolist("blockCopyAndImage[{$id}][theme]", 'Theme')->from(App\BlockCopyAndImage::$themes)->help('White or grey background.')
!= Former::radiolist("blockCopyAndImage[{$id}][image_width]", 'Image Width')->from(App\BlockCopyAndImage::$widths)
!= Former::image('copy_and_image_background', 'Background')
!= Former::image('copy_and_image_foreground', 'Foreground')->help('A transparent png that if populated will appear on top of the background image.')
!= Former::text("blockCopyAndImage[{$id}][video]", 'Video')
