!= Former::text("blockMarquee[{$id}][headline]", 'Headline')
!= Former::textarea("blockMarquee[{$id}][subhead]", 'Subhead')
!= Former::text("blockMarquee[{$id}][eyebrow]", 'Eyebrow Text')->help('Optional text, displayed above the headline.')
!= Former::image("marquee_eyebrow", 'Eyebrow Image')->help('An optional logo, displayed above the headline.')
!= Former::listing('App\BlockMarqueeImage', 'Backgrounds')->layout('form')->help('The background image behind the marquee.<br><br><u>Home Page Marquee</u><br>Upload ratio: <b>16/ 9</b><br>Design Dimensions: <b>810px x 1440px </b><br>Recommended(Retina) Upload Image Size: <b>1620px x 2880px</b><br><br><u>Inner Page Marquee</u><br>Upload ratio: <b>144/55</b><br>Design Dimensions: <b>550px x 1440px </b><br>Recommended(Retina) Upload Image Size: <b>1010px x 2880px</b></li>')
!= Former::text("blockMarquee[{$id}][cta]", 'CTA')->help('Call to action button text.')
!= Former::text("blockMarquee[{$id}][url]", 'CTA URL')->help('The URL for the call to action.')
!= Former::radiolist("blockMarquee[{$id}][button_type]", 'Button Type')->from(App\BlockMarquee::$types)
!= Former::boolean("blockMarquee[{$id}][hide_form]", 'Hide Form?')->help('Hide the sidebar form in this marquee?')
!= Former::image("marquee_float_logo", 'Float Logo Image')->help('An optional floating logo, displayed either to the bottom right or left.')
!= Former::radiolist("blockMarquee[{$id}][float_logo_position]", 'Float Logo Position')->from(App\BlockMarquee::$floats)